{
    "token": "bog4us43bog76us12bogu4535sbog123us.",
    "color": "#4D0FD1",
    "name": "AstralEars",
    "version": "2.3.1",
    "appID": "0123456789",
    "githubRepo": "JoshuaHasNoClue/AstralEarsNext"
}